.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 12rem;
  padding-top: 8rem;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  color: #ffffff;
}
td{
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  color: black;
}

th {
  background-color: #0083CA ;
  
  /* rgb(117, 201, 250); */
}

td {
  background-color: #ffffff;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
  
}